body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.my-header {
    height: 10vh;
    background-color: deepskyblue;
}

.avatar svg {
    height: 40px !important;
    width: 40px !important;
}

.avatar h4 {
    margin-top: 0;
    margin-right: 10px;
}

header h1 {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.two-columns-layout {
    margin: 0!important;
}

.channels {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

}

.scrollableList {
    overflow: scroll;
    height: 80vh;
}

.footer-list {
    bottom: 0;
    position: sticky;
}

.channel {
    padding: 15px;
    border-bottom: 0.1px solid gray;
}
.channel:hover {
    -webkit-box-shadow: 1px 10px 25px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 25px 5px rgba(0,0,0,0.75);
    box-shadow: 1px 10px 25px 5px rgba(0,0,0,0.75);
}

.vertical-align-message {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatWindow {
    display: flex;
    flex-direction: column-reverse;
    height: 70vh;
}

.chat {
    background-color: cornflowerblue;
    padding: 10px;
    margin: 5px;
}
